.bubble-received {
    position: relative;
    width: 225px;
    height: 65px;
    color: #BBB;
    background: #DE9999;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    float: left;
    margin-bottom: 4px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 4px;
    margin-left: 4px;
    left: 12px;
    clear: both;
}
.bubble-received:after  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 12px 13px 0;
    border-color: transparent #DE9999;
    display: block;
    width: 0;
    z-index: 1;
    top: 19px;
    float: left;
    left: -11px;
}
.bubble-sent {
    position: relative;
    width: 225px;
    height: 65px;
    color: #FFF;
    background: #A35858;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom: 4px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    padding: 4px;
    right: 12px;
    margin-right: 4px;
    float: right;
    clear: both;
}
.bubble-sent:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 0 13px 12px;
    border-color: transparent #A35858;
    display: block;
    width: 0;
    z-index: 1;
    top: 19px;
    right: -11px;
}
